<div class="search">
  <%= form_tag(currencies_archival_exchange_path, method: "get", id: "search-form") do %>
  
    <%= text_field_tag :search, @date, class: "form-control input-sm", placeholder: "Date...", readonly: "true" %>
    <%= submit_tag "Find", class: "btn btn-primary btn-sm" %>
        
  <% end %>
</div>
  
<% if @exchange_rates.present? %>
  
  <h1>Exchange rates of <%= @date %></h1>

  <%= render 'shared/exchange_rates', object: @exchange_rates %>
  
  <div class="download">
    
    <%= link_to currencies_archival_exchange_path(search: @date, format: "pdf") do %>
      <button class="btn btn-danger">Save as PDF</button>
    <% end %>
    
  </div>
<% end %>