<div class="search">
  <%= form_tag(currencies_archival_exchange_path, method: "get", id: "search-form") do %>
  
    <%= text_field_tag :search, @date, class: "form-control input-sm", placeholder: "Date...", readonly: "true" %>
    <%= submit_tag "Find", class: "btn btn-primary btn-sm" %>
        
  <% end %>
</div>
  
<% if @exchange_rates.present? %>
  
  <h1>Exchange rates of <%= @date %></h1>

  <div class="currency">
    <table class="table">
      
      <thead>     
        <tr>
          <th>Currency name</th>
          <th>Currency code</th>
          <th>Conversion rate </th>
          <th>Average exchange rate</th>
        </tr>
      </thead>
  
      <tbody>
    
        <% @exchange_rates.each do |currency| %>
          <tr>
            <th><%= currency.css('nazwa_waluty').text %></th>
            <td><%= currency.css('kod_waluty').text %></td>
            <td><%= currency.css('przelicznik').text %></td>
            <td><%= currency.css('kurs_sredni').text %></td>
          </tr> 
        <% end %>

      </tbody>
    </table>
  </div>
  
<% end %>